// @import '/node_modules/font-awesome/scss/font-awesome.scss';

body {
  margin: 0;
  font-family: 'Lato', sans-serif;

  @keyframes headerDown {
    from {top: -100vh;}
    to {top: 0vh;}
  }

  @keyframes inside {
    0% {left: 0; opacity: 0}
    25% {left: 0; opacity: 0}
    50% {left: 0; opacity: 0}
    100% {left: 150px; opacity: 1}
  }

  @keyframes fleft1 {
    from {width: 0; left: 480px;}
    to {width: 480px; left: 0;}
  }

  @keyframes fright1 {
    from {width: 0; right: 720px;}
    to {width: 720px; right: 0;}
  }

  @keyframes opacity {
    0% {opacity: 0}
    50% {opacity: 0}
    100% {opacity: 1}
  }

  @keyframes fleft2 {
    from {width: 0; left: 720px;}
    to {width: 720px; left: 0;}
  }

  @keyframes fright2 {
    from {width: 0; right: 480px;}
    to {width: 480px; right: 0;}
  }

  @keyframes btn {
    from {opacity: 0; top: 27%;}
    to {opacity: 1; top: 25%;}
  }

  @keyframes p {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  header {
    background-image: url('./img/1.jpg');
    background-size: cover;
    height: 100vh;
    min-width: 1200px;
    position: relative;
    animation: headerDown 2s ease-out;

    #inside {
      background-color: white;
      width: 350px;
      height: 150px;
      position: absolute;
      top: 250px;
      left: 150px;
      text-align: center;
      font-family: 'Permanent Marker', cursive;
      animation: inside 4s ease-out;

      h2 {
        font-size: 60px;
        margin-top: 5px;
        margin-bottom: 0;
      }

      p {
        margin-top: 8px;
      }
    }
  }

  #intro {
    background-size: cover;
    height: 70vh;
    // position: relative;
    width: 1200px;
    margin: auto;
    max-height: 575px;

    i {
      padding-left: 7px;
    }

    .pan {
      position: relative;
      text-align: center;
      top: 15%;
      margin: auto;
      font-weight: bold;
      width: 950px;
      font-size: 30px;
      animation: p 1s ease-out;
    }

    .btnup {
      margin: auto;
      text-align: center;
      width: 100px;
      border: 2px solid;
      padding: 10px;
      position: relative;
      left: 0;
      right: 0;
      top: 25%;
      cursor: pointer;
      animation: btn 1s ease-out;
    }
    div:hover {
      background-color: #3B393C;
      color: white;
    }

    i {
      width: 5px;
    }
    }

  #genres {
    margin: auto;
    width: 1200px;

    i {
      padding-left: 10px;
    }

    .btn{
      position: relative;
      top: 120px;
      margin: auto;
      width: 130px;
      background-color: #3B393C;
      text-align: center;
      padding: 10px;
      color: white;
      cursor: pointer;
    }



    .btn:hover {
      background-color: white;
      border: 2px solid;
      color:#3B393C;
    }

    #line {
      border: 1px solid;
      border-color: #EAFDFF;
      width: 70px;
      position: relative;
      top: 40px;
      margin: auto;
    }

    h1 {
      text-align: center;
      top: 50px;
      position: relative;
      font-size: 45px;
    }

    .undline {
      text-align: center;
      position: relative;
      top: 70px;
      width: 70%;
      margin: auto;
      font-size: 13px;
      font-weight: bold;
    }

    #fright {
      height: 65vh;
      float: right;
      background-size: cover;
      position: relative;
    }

    #fleft {
      height: 65vh;
      float: left;
      background-size: cover;
      position: relative;
    }

    .genre {
      height: 65vh;
      margin-bottom: 50px;
    }

    .franim {

      #fright {
        width: 720px;
        animation: fright1 1.5s ease-out;
        background-image: url('./img/pump.jpg');
        background-position: center center;
      }

      #fleft {
        animation: fleft1 1.5s ease-out;
        width: 480px;
        background-color: #E2F8EC;

        div, h1, p {
          animation: opacity 3s ease-out;
        }
      }
    }



    .poanim {

      #fright {
        width: 480px;
        background-color: #FFF9D9;
        animation: fright2 1.5s ease-out;
      }

      #fleft {
        width: 720px;
        background-image: url('./img/kendrick.jpg');
        background-position: center center;
        animation: fleft2 1.5s ease-out;
      }

      div, h1, p {
        animation: opacity 3s ease-out;
      }
    }

    .leanim {

      #fright {
        width: 720px;
        background-image: url('./img/biggie.jpg');
        background-position: center center;
        animation: fright1 1.5s ease-out;
      }

      #fleft {
        background-color: #E6F9FF;
        width: 480px;
        animation: fleft1 1.5s ease-out;

        h1 {
          top: 0%;
        }

        #line {
          top: -2%;
        }

        p {
          top: 20px;
        }

        #btn3 {
          top: 10%;
        }
      }

      div, h1, p {
        animation: opacity 3s ease-out;
      }
    }

    .unanim {

      color: white;

      #fright {
        width: 480px;
        background-color: #0C1922;
        animation: fright2 1.5s ease-out;

        h1 {
          top: -5%;
        }

        #line {
          top: -8%;
        }

        p {
          top: -10px;
        }

        #btn4 {
          top: 3%;
        }
      }

      #fleft {
        width: 720px;
        background-image: url('./img/sb.jpg');
        background-position: center center;
        animation: fleft2 1.5s ease-out;
      }

      div, h1, p {
        animation: opacity 3s ease-out;
      }
    }
  }
  }
